.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
}

.title_container {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 50px;
}

.title {
  color: var(--text-slate-lightest);
  font-size: 32px;
  line-height: 1.1;
  font-weight: 600;
}

.title_line {
  border: 0.5px solid var(--bg-lightest-navy);
  width: 300px;
  margin-left: 20px;
}

.project_image_left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.project_image_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.project {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 350px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.project_title {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--text-slate-light);
  z-index: 10;
}

.project_description {
  padding: 25px;
  background-color: var(--bg-light-navy);
  width: 60%;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  border-radius: 5px;
  color: var(--text-slate-light);
  font-size: 18px;
  z-index: 10;
}

.description_end {
  text-align: end;
}

.description_start {
  text-align: start;
}

.project_features {
  display: flex;
  gap: 40px;
  color: var(--text-slate);
  margin: 10px 0px;
  font-size: 14px;
}

.project_feature {
  z-index: 10;
}

.project_links {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

.project_link_container {
  z-index: 10;
}

.project_link,
.project_live_link {
  width: 30px;
}

.project_live_link {
  padding: 2px;
}

.project_image_container {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;

  display: flex;
  justify-content: flex-start;
}

.project_image {
  height: 100%;
  width: 100%;
  position: relative;
}

.project_image_screen {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-navy);
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 200ms;
}

.project_image_screen:hover {
  opacity: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
